@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --black:#2f2f2f;
    --white:#fff;
    --red:#f83038;
}
.main{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#1c1c1c,#323232);
    padding: 30px,100px;
    
}
.main::before{
    content: "Adventure";
    font-size:16vw;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgba(255, 255, 255, 0.05);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 100px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    max-width: 80px;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
header .navigation{
    display: flex;
}
header .navigation li {
    list-style: none;
}
header .navigation li a{
    position: relative;
    text-decoration: none;
    margin-left: 40px;
    color: var(--white);
    z-index: 10;
    transition: 0.30s;
}

header .navigation li a:hover{
    color: var(--red);
}
.content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.content h2{
    color: var(--white);
    font-size: 5em;
    font-weight: 300;
    margin-top: 100px;
    text-align: center;
}
.content h2 span{
    font-weight: 700;
}
.btn{
    color: var(--white);
    background: var(--red);
    text-decoration: none;
    padding: 18px 36px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.30s;
}
.btn:hover{
    letter-spacing: 4px;
}
.bike{
    max-width: 80%;
}
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sci{
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    color: var(--white);
    font-size: 2em;
    margin-right: 20px;
    transition: 0.25s;
}
.sci li a:hover{
    color: var(--red);
}
.dots{
    display: flex;
}
.dots .dot{
    width: 14px;
    height: 14px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}
.dots .active{
    background: var(--white);
}
.slider .slides{
    position: absolute;
    width: 100%;
    top: 60%;
    left:0;
    transform: translateY(-50%);
    z-index: 10;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: 0.25s;
}
.slider .slides.active{
    opacity: 1;
    top:50%
}
.slider .slides h2:last-child {
text-align: end;
}
.slider .slides h2{
    color: var(--white);
    font-size: 3em;
}
.slider .slides h2 span{
    font-size: 0.6em;
    color: var(--red);
    font-style: italic;
}